#facebookicon{
    opacity: 0.2;
}
#twittericon{
    opacity: 0.2;
}
#youtubeicon{
    opacity: 0.2;
}
#linkedinicon{
    opacity: 0.2;
}
#facebookicon:hover{
    opacity: 1;
}
#twittericon:hover{
    opacity: 1;
}
#youtubeicon:hover{
    opacity: 1;
}
#linkedinicon:hover{
    opacity: 1;
}
