{% extends "base.html" %}
{% load static %}
<!-- Title block -->
{% block title %}Welcome{% endblock %}

{% block css %}

{% endblock%}
{% block content %}
<h1 style="margin-top:5%;">
    Aadhaar address Update Project
    <pre>
       Sample
       Sample
       Sample

       Sample
       Sample
       Sample
       Sample
        <h1>Sample
            Sample
            Sample

            Sample
            Sample
            Sample

            <s>Sample
                Sample
                Sample
                Sample
                Sample
                Sample
                Sample

                <dfn>sample
                    <dfn>Sample
                    </dfn>
                </dfn>
            </s>
        </h1>
    </pre>
</h1>

{% endblock %}