{% extends "base.html" %}
{% load static %}
<!-- Title block -->
{% block title %}Home{% endblock %}

{% block content %}

<!--Cartoons-->
<div class="container"
  style=" border: 1px solid rgb(58, 30, 212); border-radius: 8px;  box-shadow: 0px 4px 18px rgba(1, 10, 15, 0.5);">
  <div class="container mt-2">
    <div class="row justify-content-center">
      <div class="d-grid gap-2 col-md-6 col-xl-5 col-xll-4 col-lg-5 col-sm-7 col-12 text-center mb-4 mt-4">
        <button type="button" class="btn btn-warning centered btn-lg">
          <a style="color: rgb(255, 255, 255); text-decoration: none;">
            <h3>Steps to perform address update</h3>
          </a>
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-start">
      <div class="d-grid gap-2 col-md-5 col-xl-4 col-xll-3 col-lg-4 col-sm-12 col-12 text-center mb-4">
        <figure class="figure">
          <img src="{%static 'images/sendingreq.png'%}" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption"><button type="button" class="btn btn-info centered">
              <a style="color: rgb(255, 255, 255); text-decoration: none;">
                <h3>1. Requesting for landlord's address</h3>
              </a>

            </button></figcaption>
        </figure>
      </div>
    </div>
    <hr style="color: cadetblue;">
    <div class="row justify-content-center">
      <div class="d-grid gap-2 col-md-5 col-xl-4 col-xll-3 col-lg-4 col-sm-12 col-12 text-center mb-4">
        <figure class="figure">
          <img src="{%static 'images/landlordchecking2.jpg'%}" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption"><button type="button" class="btn btn-danger centered">
              <a style="color: rgb(255, 255, 255); text-decoration: none;">
                <h3>2. Landlord give's consent</h3>
              </a>

            </button></figcaption>
        </figure>
      </div>
    </div>
    <hr style="color: cadetblue;">
    <div class="row justify-content-end">
      <div class="d-grid gap-2 col-md-5 col-xl-4 col-xll-3 col-lg-4 col-sm-12 col-12 text-center mb-4">
        <figure class="figure">
          <img src="{%static 'images/gotpermission.png'%}" class="figure-img img-fluid rounded mb-1" alt="...">
          <figcaption class="figure-caption"><button type="button" class="btn btn-warning centered">
              <a style="color: rgb(255, 255, 255); text-decoration: none;">
                <h3>3. Got the permission</h3>
              </a>

            </button></figcaption>
        </figure>
      </div>
    </div>
    <hr style="color: cadetblue;">
    <div class="row justify-content-center">
      <div class="d-grid gap-2 col-md-5 col-xl-4 col-xll-3 col-lg-4 col-sm-12 col-12 text-center mb-4">
        <figure class="figure">
          <img src="{%static 'images/sendingreq.png'%}" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption"><button type="button" class="btn btn-dark centered">
              <a style="color: rgb(255, 255, 255); text-decoration: none;">
                <h3>5. Updating the Address</h3>
              </a>

            </button></figcaption>
        </figure>
      </div>
    </div>
    <hr style="color: cadetblue;">
    <div class="row justify-content-start">
      <div class="d-grid gap-2 col-md-5 col-xl-4 col-xll-3 col-lg-4 col-sm-12 col-12 text-center mb-4">
        <figure class="figure">
          <img src="{%static 'images/processdone.png'%}" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption"><button type="button" class="btn btn-success centered">
              <a style="color: rgb(255, 255, 255); text-decoration: none;">
                <h3>Process Done</h3>
              </a>

            </button></figcaption>
        </figure>
      </div>
    </div>
  </div>
  <hr style="color: cadetblue;">
</div>
<!--Cartoons End-->
<div class="container mt-3">
  <div class="row justify-content-center">
    <img style="width: 15rem;" src="{%static 'images/downwardhand.png'%}" alt="Press Below button">
  </div>
</div>
<div class="container text-center mt-3 p-3">
  <a class="btn btn-primary p-3" href="/resident" style="color: rgb(255, 255, 255); text-decoration: none;">
    <h4>Click to Update Address</h4>
  </a>
  </button>
</div>

{% endblock %}