{% extends "base.html" %}
{% load static %}
<!-- Title block -->
{% block title %}Welcome{% endblock %}

{% block css %}
<style>
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
{% endblock%}

{% block content %}

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="d-grid gap-2 col-md-6 col-xl-4 col-xll-4 col-lg-5 col-sm-7 col-12 text-center mb-4 mt-2">
      <h4 style="color: rgb(7, 153, 7);">Your landlord has successfully granted your request.</h4>
      <h4 style="color: rgb(7, 153, 7);">Click Below to proceed to update your address.</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="d-grid gap-2 col-md-4 col-xl-4 col-xll-4 col-lg-4 col-sm-6 col-12 text-center mb-4 mt-2">
      <button type="button" class="btn btn-primary centered btn-lg">
        <a href="/enterpasscode" style="color: aliceblue; text-decoration: none;"><h4>Go Ahead</h4></a>

      </button>
    </div>
  </div>
</div>
{% endblock %}