{% extends "base.html" %}
{% load static %}
<!-- Title block -->
{% block title %}Welcome{% endblock %}

{% block css %}
<style>
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
   margin: 0; 
}
</style>
{% endblock%}

{% block content %}

<!--Form 3-->
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-7 col-xl-6 col-xll-5 mb-5" style="background-color: rgba(250, 250, 250, 0.24); border: solid #BDBDBD 1px; 
          box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.5) ;">
        <div class="mt-2" style="background-color: rgb(251, 251, 251);">
          <img src="{%static 'icons/address_icon.png'%}" alt="" width="55" height="70"
            style="padding-bottom: 3%;">
          <h3 style="display: inline-block; padding: 3%;">Landlord's  Address</h3>
  
        </div>
        <hr style="margin:0%">
        <form class="row g-3 mt-2 mb-4 mx-auto">
            <div class="col-md-6">
              <label for="housenumber" class="form-label">House Number</label>
              <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="housenumber" placeholder="Enter House no.">
              </div>
            </div>
            <div class="col-md-6">
              <label for="street" class="form-label">Street</label>
              <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="street" placeholder="Enter Street">
              </div>
            </div>
            <div class="col-6">
              <label for="city" class="form-label">City</label>
              <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="city" placeholder="Nandgaon">
              </div>
            </div>
            <div class="col-md-6">
              <label for="district" class="form-label">District</label>
              <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="district" placeholder="Nasik">
              </div>
            </div>
            <div class="col-md-4 mb-2">
              <label for="inputState" class="form-label">State</label>
              <div class="input-group input-group-lg">
              <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option value="AN">Andaman and Nicobar Islands</option>
    <option value="AP">Andhra Pradesh</option>
    <option value="AR">Arunachal Pradesh</option>
    <option value="AS">Assam</option>
    <option value="BR">Bihar</option>
    <option value="CH">Chandigarh</option>
    <option value="CT">Chhattisgarh</option>
    <option value="DN">Dadra and Nagar Haveli</option>
    <option value="DD">Daman and Diu</option>
    <option value="DL">Delhi</option>
    <option value="GA">Goa</option>
    <option value="GJ">Gujarat</option>
    <option value="HR">Haryana</option>
    <option value="HP">Himachal Pradesh</option>
    <option value="JK">Jammu and Kashmir</option>
    <option value="JH">Jharkhand</option>
    <option value="KA">Karnataka</option>
    <option value="KL">Kerala</option>
    <option value="LA">Ladakh</option>
    <option value="LD">Lakshadweep</option>
    <option value="MP">Madhya Pradesh</option>
    <option value="MH">Maharashtra</option>
    <option value="MN">Manipur</option>
    <option value="ML">Meghalaya</option>
    <option value="MZ">Mizoram</option>
    <option value="NL">Nagaland</option>
    <option value="OR">Odisha</option>
    <option value="PY">Puducherry</option>
    <option value="PB">Punjab</option>
    <option value="RJ">Rajasthan</option>
    <option value="SK">Sikkim</option>
    <option value="TN">Tamil Nadu</option>
    <option value="TG">Telangana</option>
    <option value="TR">Tripura</option>
    <option value="UP">Uttar Pradesh</option>
    <option value="UT">Uttarakhand</option>
    <option value="WB">West Bengal</option>
                <option>...</option>
              </select>
              </div>
            </div>
            <div class="col-md-3 mb-2">
              <label for="pincode" class="form-label">Pin Code</label>
              <div class="input-group input-group-lg">
              <input type="number" class="form-control" id="pincode" placeholder="434554">
              </div>
            </div>
            <hr>
            <div class="d-grid gap-2 col-6 mx-auto mt-2  mb-3">
                <button type="submit" class="btn btn-primary btn-lg">Done</button>
              </div>
          </form>
      </div>
    </div>
  </div>
  
  <!--Form 3 End-->
  



{% endblock %}